[Unit]

Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/dushmaev/app
ExecStart=/home/dushmaev/app/venv/bin/python app.py

[Install]
WantedBy=multi-user.target